body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(to right bottom, #d13cff, #031f6a);
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.voice_to_text {
    width: 600px;
    text-align: center;
}

h1 {

    font-size: 55px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(315deg, #ffffff 43%, rgb(247, 241, 170) 53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

#convert_text {
    width: 110%;
    height: 250px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    border-style: none;

    box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55) inset;
    -webkit-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55) inset;
    -moz-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55) inset;

}


.button {
    padding: 12px 20px;
    background: #0ea4da;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;

    box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
}

.button:hover {

    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);

}

.button2 {
    margin-top: 10px;
    padding: 12px 20px;
    background: #0ea4da;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;

    box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
}

.button2:hover {

    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);

}

label {
    font-size: 28px;
    color: #ffff;
    background-image: -webkit-linear-gradient(315deg, #ffffff 50%, rgb(247, 241, 170) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.name {
    font-size: 20px;
    color: rgba(107, 105, 105, 0.895);
}

.DropDown{
    margin-bottom: 20px;
}